.btn {
  margin: 10px;
}

.results {
  background-color: white;
  min-height: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.types {
  color: rgb(11, 103, 40);
}

.weaknesses {
  color: rgb(96, 16, 16);
}
